.data {
    width: -webkit-fill-available;
    height: auto;
    padding: 40px;
    background-color: #5bcf75;
    backdrop-filter: blur(20px);
    border-radius: 20px;
    margin-bottom: 15px;

    .data-holder {
        display: flex;
        align-items: baseline;
        justify-content: center;
        gap: 60px;

        h3 {
            margin: 0;
        }

        p {
            margin: 0;
        }
    }

    .data-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        margin-top: 20px;
    }

    .input-file-data {
        margin: 20px 0;
    }
}