.audio-setup {
    input[type="file"] {
        margin-bottom: 10px;

        &::file-selector-button {
            height: 40px;
            padding: 10px 25px;
            text-align: center;
            font-size: 16px;
            transition: all .5s ease-in;
            background: #45ADA8;
            color: #FFFFFF;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            box-shadow: 10px 10px 19px 0px rgba(0, 0, 0, 0.35);
            user-select: none;
            margin: 40px 0;
            margin-right: 10px;

            &:hover {
                background: #9DE0AD;
            }

            &:active {
                background: #81b98e;
            }
        }
    }

    .audio-settings {
        margin-top: 10px;

        .settings-checkboxes {
            display: flex;
            gap: 7px;
            flex-wrap: wrap;
            margin-bottom: 10px;
            margin-top: 20px;

            label {
                display: flex;
                align-items: baseline;
                gap: 15px;

                input[type="checkbox"] {
                    appearance: none;
                    margin: 0;
                    font: inherit;
                    color: currentColor;
                    width: 1.15em;
                    height: 1.15em;
                    border: 0.15em solid currentColor;
                    border-radius: 0.15em;
                    transform: translateY(-0.075em);
                    display: grid;
                    place-content: center;

                    &::before {
                        content: "";
                        width: 0.65em;
                        height: 0.65em;
                        transform: scale(0);
                        transition: 120ms transform ease-in-out;
                        box-shadow: inset 1em 1em rgb(233, 31, 28);
                    }

                    &:checked::before {
                        transform: scale(1);
                    }
                }
            }
        }

        .volume-settings {
            .range-value {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;

                .range-input {
                    input[type="number"] {
                        width: 100%;
                        max-width: 700px;
                        background-color: #E5FCC2;
                        border-radius: 10px;
                        height: 34px;
                        border: 1px solid #9DE0AD;
                        outline: none;
                        transition: all .5s ease-in-out;
                        padding: 2px 5px;

                        &:hover {
                            cursor: pointer;
                        }

                        &:focus {
                            box-shadow: 0px 0px 0px 5px rgba(157, 224, 173, 0.36);
                        }
                    }
                }
            }

            input[type="range"] {
                appearance: none;
                width: 100%;
                height: 15px;
                border-radius: 5px;
                background: rgba(255, 255, 255, 0.6);
                background-image: linear-gradient(#E5FCC2, #E5FCC2);
                background-size: 70% 100%;
                background-repeat: no-repeat;
                outline: none;
                opacity: 0.7;
                transition: opacity .2s;
                margin-top: 10px;

                &::-webkit-slider-thumb {
                    appearance: none;
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    background: #45ADA8;
                }

                &::-moz-range-thumb {
                    width: 25px;
                    height: 25px;
                    border-radius: 50%;
                    background: #45ADA8;
                }

                &::-webkit-slider-runnable-track {
                    appearance: none;
                    box-shadow: none;
                    border: none;
                    background: transparent;
                }

                &::-moz-range-track {
                    appearance: none;
                    box-shadow: none;
                    border: none;
                    background: transparent;
                }

                &::-ms-track {
                    appearance: none;
                    box-shadow: none;
                    border: none;
                    background: transparent;
                }
            }
        }
    }
}